p
  label(for="title") Title:
  input(type="text", name="title" id="title" value=book.title)
p
  label(for="author") Author:
  input(type="text", name="author" id="author" value=book.author)
p
  label(for="genre") Genre:
  input(type="text", name="genre" id="genre" value=book.genre)
p
  label(for="year") Year:
  input(type="text", name="year" id="year" value=book.year)