extends ../layout

block content
  header
    h1= title
  include form-errors
  
  form(action="/books/new", method="post")
    include form
    p
      input(type="submit" value="Create New Book")
    p
      a(class="button" href="/") Cancel