extends ../layout

block content

  include form-errors
  
  form(action="/books/new", method="post")
    include form
    p
      input(type="submit" value="Create New Book")
    p
      a(class="button" href="/") Cancel